n8n/quotation-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9b2f3be4-e30e-42e8-9ca7-afce486bf02e",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1d8bd33d-97c4-4716-97d4-f67208abd0d7",
      "name": "Webhook Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -320,
        -688
      ],
      "webhookId": "9b2f3be4-e30e-42e8-9ca7-afce486bf02e"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n Code node: Other Services & GST (Dahi Cheeni)\nbody = _input.all()[0].json.get(\"body\", {})\n\n\ndef extract_number(val):\n    if not val or isinstance(val, (int, float)):\n        return val or 0\n    import re\n    match = re.search(r\"[\\d.]+\", str(val).strip())\n    if not match:\n        return 0\n    try:\n        return float(match.group())\n    except Exception:\n        return 0\n\n\nitems = body.get(\"Items\", [])\nif items and isinstance(items, list):\n    sub_val = sum(extract_number(it.get(\"Amount\", 0)) for it in items)\nelse:\n    sub_val = extract_number(body.get(\"Total\", 0))\n\nchef_val = extract_number(body.get(\"ChefServers\", 0))\ndecor_val = extract_number(body.get(\"TableDecor\", 0))\ncutlery_val = extract_number(body.get(\"Cutlery\", 0))\nchaffing_val = extract_number(body.get(\"Chaffing\", 0))\nconv_val = extract_number(body.get(\"Conveyance\", 0))\nvenue_val = extract_number(body.get(\"VenueCharges\", 0))\n\nsubtotal_with_services = sub_val + chef_val + decor_val + cutlery_val + chaffing_val + conv_val + venue_val\ngst_amount = subtotal_with_services * 0.05\ntotal_amount = subtotal_with_services + gst_amount\n\nreturn [\n    {\"Other Services\": \"Subtotal (Items)\", \"Amount\": sub_val},\n    {\"Other Services\": \"Chef + Servers + Helper\", \"Amount\": body.get(\"ChefServers\", 0)},\n    {\"Other Services\": \"Table Décor (As Per Theme)\", \"Amount\": body.get(\"TableDecor\", 0)},\n    {\"Other Services\": \"Cutlery & Crockery\", \"Amount\": body.get(\"Cutlery\", 0)},\n    {\"Other Services\": \"Chaffing Dishes & Snack Warmers\", \"Amount\": body.get(\"Chaffing\", 0)},\n    {\"Other Services\": \"Conveyance\", \"Amount\": body.get(\"Conveyance\", 0)},\n    {\"Other Services\": \"Venue Charges\", \"Amount\": body.get(\"VenueCharges\", 0)},\n    {\"Other Services\": \"Subtotal (With Services)\", \"Amount\": subtotal_with_services},\n    {\"Other Services\": \"GST 5%\", \"Amount\": round(gst_amount, 2)},\n    {\"Other Services\": \"TOTAL AMOUNT\", \"Amount\": round(total_amount, 2)},\n]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -608
      ],
      "id": "4eaafd0b-fe5b-4296-ad95-d2f745f756d8",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "return []"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -416
      ],
      "id": "4905c6d2-b221-46df-8357-37759bd2c93e",
      "name": "Code in Python (Beta)13"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n Code node: Customer Details (Dahi Cheeni)\nbody = _input.all()[0].json.get(\"body\", {})\n\nreturn [{\n    \"Event Date\": body.get(\"EventDate\", \"N/A\"),\n    \"Host Name\": body.get(\"HostName\", \"N/A\"),\n    \"Mobile No\": body.get(\"MobileNo\", \"N/A\"),\n    \"Time\": body.get(\"Time\", \"N/A\"),\n    \"Pax\": body.get(\"Pax\", \"N/A\"),\n    \"Location\": body.get(\"Location\", \"N/A\"),\n    \"Quote ID\": body.get(\"QuotationId\", \"\"),\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -992
      ],
      "id": "909d07a7-50c6-422f-aa29-4cf88ee9f016",
      "name": "Customer Details"
    },
    {
      "parameters": {
        "content": "## PDF Generation",
        "height": 384,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        -832
      ],
      "id": "d97a2414-a6ee-4c9b-8ef4-8d13edec4069",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        -736
      ],
      "id": "d19dce6e-3d60-4bed-84ba-bf7d2221ab83",
      "name": "Merge"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n Code node: Menu Item Transformation (Dahi Cheeni — qty × rate)\ninput_data = _input.all()[0].json\nitems_list = input_data.get(\"body\", {}).get(\"Items\", [])\n\noutput = []\nfor item in items_list:\n    qty = item.get(\"Qty\", item.get(\"Portions\", 1))\n    rate = item.get(\"Rate\", 0)\n    try:\n        amount = float(item.get(\"Amount\", 0))\n    except (TypeError, ValueError):\n        try:\n            amount = float(qty or 0) * float(rate or 0)\n        except (TypeError, ValueError):\n            amount = 0\n    output.append({\n        \"Name\": item.get(\"Name\"),\n        \"Description\": item.get(\"Description\"),\n        \"Qty\": qty,\n        \"Rate\": rate,\n        \"Category\": item.get(\"Category\", \"\"),\n        \"Veg/Non Veg\": item.get(\"VegNonVeg\", \"\"),\n        \"Amount\": amount,\n    })\n\nreturn output\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -800
      ],
      "id": "d3a03ec5-908e-4d5a-bca1-72fc528f0b9c",
      "name": "Menu Item Transformation"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# n8n Code node: JSON TO HTML (Dahi Cheeni)\n\nlogo_url = \"https://res.cloudinary.com/dwxjq3tj9/image/upload/q_auto/f_auto/v1778926627/Dahi_Cheeni_Logo_draxao.png\"\n\ntry:\n    cust_list = _input.all(\"Customer Details\")\n    cust = cust_list[0].json if cust_list else {}\nexcept Exception:\n    cust = {}\n\nmenu_items = _input.all(\"Proposed Menu\")\nservices = _input.all(\"Other Services\")\nbrand = \"#5c1a1a\"\ncream = \"#f5ebe0\"\ngold = \"#c9a227\"\n\n\ndef fmt_money(val):\n    if val is None or val == \"\":\n        return \"\"\n    try:\n        s = str(val).replace(\",\", \"\").strip()\n        v = float(s)\n        return f\"₹{int(v):,}\" if v == int(v) else f\"₹{v:,.2f}\"\n    except Exception:\n        return str(val)\n\n\nhtml = f\"\"\"<!DOCTYPE html>\n<html>\n<head>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Source+Sans+3:wght@400;600;700&display=swap');\n  @page {{ margin: 14mm; }}\n  body {{ font-family: 'Source Sans 3', sans-serif; color: #222; margin: 0; line-height: 1.55; padding-bottom: 20mm; }}\n  .footer {{ position: fixed; bottom: 0; left: 0; right: 0; text-align: center; font-size: 9px; color: #555; border-top: 1px solid #ddd; padding-top: 6px; }}\n  h1, h2, h3 {{ font-family: 'Cormorant Garamond', serif; color: {brand}; }}\n  .logo-wrap {{ text-align: center; padding: 6px 0 14px; }}\n  .main-logo {{ max-width: 240px; height: auto; }}\n  .intro-box {{ background: {brand}; color: {cream}; padding: 20px 22px; border-radius: 10px; margin-bottom: 18px; }}\n  .intro-box p {{ margin: 0 0 10px; font-size: 13px; }}\n  .intro-box strong {{ color: {gold}; }}\n  .header-banner {{ background: {brand}; color: {cream}; padding: 14px 18px; border-radius: 8px; margin-bottom: 14px; }}\n  .header-banner h1 {{ color: {cream} !important; text-align: center; font-size: 26px; margin: 0; }}\n  .header-details {{ margin-top: 10px; font-size: 12px; border-top: 1px solid rgba(255,255,255,0.25); padding-top: 8px; }}\n  .detail-row {{ display: table; width: 100%; }}\n  .detail-row > div {{ display: table-cell; width: 50%; padding: 3px 0; }}\n  h2 {{ font-size: 18px; border-bottom: 2px solid {brand}; padding-bottom: 4px; margin-top: 16px; text-transform: uppercase; letter-spacing: 0.5px; }}\n  .data-table {{ width: 100%; border-collapse: collapse; margin-top: 8px; table-layout: fixed; }}\n  .data-table th {{ background: {brand}; color: {cream}; padding: 8px; border: 1px solid {brand}; font-size: 11px; }}\n  .data-table th.num {{ text-align: center; }}\n  .data-table td {{ padding: 8px; border: 1px solid #ccc; font-size: 12px; vertical-align: top; word-wrap: break-word; }}\n  .data-table td.num {{ text-align: center; }}\n  .cat-row td {{ background: #f3ebe8; font-weight: 700; color: {brand}; font-family: 'Cormorant Garamond', serif; font-size: 14px; }}\n  .description {{ font-size: 10px; color: #555; font-style: italic; display: block; margin-top: 4px; }}\n  .badge {{ font-size: 9px; padding: 2px 6px; border-radius: 10px; background: #eee; margin-left: 6px; font-weight: 600; }}\n  .total-row td {{ font-weight: 700; background: #faf6f4; }}\n  .note-list {{ font-size: 12px; padding-left: 18px; }}\n  .note-list li {{ margin-bottom: 8px; }}\n</style>\n</head>\n<body>\n\n<div class=\"footer\">\n  <strong>Dahi Cheeni — Home-Style Catering</strong><br>\n  For intimate gatherings\n</div>\n\n<div class=\"logo-wrap\">\n  <img src=\"{logo_url}\" class=\"main-logo\" alt=\"Dahi Cheeni\">\n</div>\n\n<div class=\"intro-box\">\n  <p><strong>Welcome to Dahi Cheeni</strong></p>\n  <p>Thank you for considering us for your gathering. This quotation outlines our <strong>home-style catering</strong> menu — thoughtfully prepared for intimate celebrations.</p>\n  <p>Every dish is priced as <strong>quantity × rate</strong>. We look forward to being part of your event.</p>\n  <p><strong>Warm regards,<br>Team Dahi Cheeni</strong></p>\n</div>\n\n<div style=\"page-break-before: always;\"></div>\n\n<div class=\"logo-wrap\">\n  <img src=\"{logo_url}\" class=\"main-logo\" alt=\"Dahi Cheeni\">\n</div>\n\n<div class=\"header-banner\">\n  <h1>EVENT QUOTATION</h1>\n  <div class=\"header-details\">\n    <div class=\"detail-row\">\n      <div><strong>HOST:</strong> {cust.get('Host Name', 'N/A')}</div>\n      <div><strong>MOBILE:</strong> {cust.get('Mobile No', 'N/A')}</div>\n    </div>\n    <div class=\"detail-row\">\n      <div><strong>DATE:</strong> {cust.get('Event Date', 'N/A')}</div>\n      <div><strong>TIME:</strong> {cust.get('Time', 'N/A')}</div>\n    </div>\n    <div class=\"detail-row\">\n      <div><strong>LOCATION:</strong> {cust.get('Location', 'N/A')}</div>\n      <div><strong>PAX:</strong> {cust.get('Pax', 'N/A')}</div>\n    </div>\n  </div>\n</div>\n\n<h2>Proposed Menu</h2>\n\"\"\"\n\nfrom collections import OrderedDict\n\ncategories = OrderedDict()\nfor item in menu_items:\n    d = item.json\n    name = (d.get(\"Name\") or \"\").strip()\n    if not name:\n        continue\n    cat = d.get(\"Category\") or \"Other\"\n    categories.setdefault(cat, []).append(d)\n\nfor cat, items in categories.items():\n    html += f\"\"\"\n<table class=\"data-table\">\n  <colgroup>\n    <col style=\"width:52%\" />\n    <col style=\"width:12%\" />\n    <col style=\"width:18%\" />\n    <col style=\"width:18%\" />\n  </colgroup>\n  <thead>\n    <tr class=\"cat-row\"><td colspan=\"4\">{cat.upper()}</td></tr>\n    <tr>\n      <th>ITEM</th>\n      <th class=\"num\">QTY</th>\n      <th class=\"num\">RATE</th>\n      <th class=\"num\">AMOUNT</th>\n    </tr>\n  </thead>\n  <tbody>\n\"\"\"\n    for d in items:\n        qty = d.get(\"Qty\", d.get(\"Portions\", \"\"))\n        veg = (d.get(\"Veg/Non Veg\") or d.get(\"VegNonVeg\") or \"\").strip()\n        badge = f'<span class=\"badge\">{veg}</span>' if veg else \"\"\n        html += f\"\"\"\n    <tr>\n      <td><strong>{d.get('Name', '')}</strong>{badge}\n        <span class=\"description\">{d.get('Description', '')}</span>\n      </td>\n      <td class=\"num\">{qty}</td>\n      <td class=\"num\">{fmt_money(d.get('Rate', ''))}</td>\n      <td class=\"num\">{fmt_money(d.get('Amount', ''))}</td>\n    </tr>\n\"\"\"\n    html += \"</tbody></table>\"\n\nhtml += \"\"\"\n<h2>Other Services &amp; Summary</h2>\n<table class=\"data-table\">\n  <tbody>\n\"\"\"\n\nfor s in services:\n    sd = s.json\n    label = (sd.get(\"Other Services\") or \"\").strip()\n    if not label:\n        continue\n    amount = fmt_money(sd.get(\"Amount\", \"\"))\n    row_class = \"total-row\" if any(x in label.upper() for x in (\"TOTAL\", \"SUBTOTAL\", \"GST\")) else \"\"\n    html += f'<tr class=\"{row_class}\"><td colspan=\"3\">{label}</td><td class=\"num\">{amount}</td></tr>'\n\nhtml += f\"\"\"\n  </tbody>\n</table>\n\n<div style=\"page-break-before: always; margin-top: 20px;\">\n  <div class=\"logo-wrap\">\n    <img src=\"{logo_url}\" class=\"main-logo\" alt=\"Dahi Cheeni\">\n  </div>\n  <h3 style=\"text-decoration: underline;\">Please Note</h3>\n  <ul class=\"note-list\">\n    <li><strong>Pricing:</strong> Menu amounts are calculated as quantity × rate.</li>\n    <li><strong>GST:</strong> 5% GST is applied on the subtotal including additional services.</li>\n    <li><strong>Menu confirmation:</strong> Please confirm the final menu 4–5 days before the event.</li>\n    <li><strong>Booking:</strong> Bookings are subject to availability.</li>\n    <li><strong>Kitchen access:</strong> A working kitchen or agreed setup space should be available where applicable.</li>\n  </ul>\n</div>\n\n</body>\n</html>\n\"\"\"\n\nreturn [{\"html_content\": html}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -704
      ],
      "id": "4895f598-2112-40e6-a32b-061462415575",
      "name": "JSON TO HTML"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html_content",
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "=index.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        864,
        -704
      ],
      "id": "d6fc3009-e60b-4527-a5e5-bf1bb9fdc2d3",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://168.231.122.119:3010/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1088,
        -704
      ],
      "id": "d9ed6fa1-092f-436e-a993-f79c16c8d6c1",
      "name": "HTML TO PDF"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1312,
        -800
      ],
      "id": "62c954fb-c382-452c-844d-21ebf3dbe319",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "name": "={{ $('Webhook Form').first().json.body.HostName }} - {{ $('Webhook Form').first().json.body.EventDate }}.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "17HkrULgQ6MluWCSysJ19tb_GmW98r85p",
          "mode": "list",
          "cachedResultName": "Little Jalebis",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17HkrULgQ6MluWCSysJ19tb_GmW98r85p"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1312,
        -608
      ],
      "id": "e43b43d8-c4b8-4dcd-b1b2-b3bc3f4a0b07",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pc86TJhyvqWbHzZg",
          "name": "Vishwash"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\n\n# Access the body from the first input item\nbody = _input.all()[0].json.get('body', {})\n\n# Helper function to extract numeric values\ndef extract_number(val):\n    if not val or isinstance(val, (int, float)):\n        return val or 0\n    str_val = str(val).strip()\n    import re\n    match = re.search(r'[\\d.]+', str_val)\n    if not match:\n        return 0\n    try:\n        return float(match.group())\n    except:\n        return 0\n\n# Prepare data for Supabase\nsupabase_data = {\n    \"quotation_id\": body.get(\"QuotationId\", \"\"),\n    \"host_name\": body.get(\"HostName\", \"\"),\n    \"mobile_no\": body.get(\"MobileNo\", \"\"),\n    \"event_date\": body.get(\"EventDate\", \"\"),\n    \"time\": body.get(\"Time\", \"\"),\n    \"pax\": body.get(\"Pax\", \"\"),\n    \"location\": body.get(\"Location\", \"\"),\n    \"image_grid\": body.get(\"ImageGrid\", []),\n    \"items\": body.get(\"Items\", []),\n    \"total\": extract_number(body.get(\"Total\", 0)),\n    \"chef_servers\": extract_number(body.get(\"ChefServers\", 0)),\n    \"table_decor\": extract_number(body.get(\"TableDecor\", 0)),\n    \"cutlery\": extract_number(body.get(\"Cutlery\", 0)),\n    \"chaffing\": extract_number(body.get(\"Chaffing\", 0)),\n    \"conveyance\": extract_number(body.get(\"Conveyance\", 0)),\n    \"venue_charges\": extract_number(body.get(\"VenueCharges\", 0)),\n    \"tables\": body.get(\"Tables\", \"\"),\n    \"kitchen_space\": body.get(\"KitchenSpace\", \"\")\n}\n\nreturn [supabase_data]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -224
      ],
      "id": "46e214e2-256c-45b2-b8ea-20a8f215f95a",
      "name": "Prepare Supabase Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wtqtnpjliyhcwxjkincj.supabase.co/rest/v1/quotations?on_conflict=quotation_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_JejvEEqBVuaYhS_6otvYuA_djCMsv-1"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_JejvEEqBVuaYhS_6otvYuA_djCMsv-1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        -224
      ],
      "id": "0222e63b-9217-4309-83de-44a2f64cbdb5",
      "name": "Save to Supabase"
    },
    {
      "parameters": {
        "path": "quotations-list",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        688,
        -32
      ],
      "id": "647510e7-29af-4319-9660-5ef8bb4f4cf5",
      "name": "Get Quotations List",
      "webhookId": "quotations-list"
    },
    {
      "parameters": {
        "url": "https://wtqtnpjliyhcwxjkincj.supabase.co/rest/v1/quotations?select=quotation_id,host_name,event_date,created_at&order=created_at.desc&limit=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_JejvEEqBVuaYhS_6otvYuA_djCMsv-1"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_JejvEEqBVuaYhS_6otvYuA_djCMsv-1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        -32
      ],
      "id": "c0d900ee-76f0-47af-aa49-0fd3cffddb56",
      "name": "Fetch Quotations List"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1232,
        -32
      ],
      "id": "e9f41dfc-6c38-4f2b-a65e-3381ee6d8668",
      "name": "Respond Quotations List"
    },
    {
      "parameters": {
        "path": "quotation-by-id",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        656,
        208
      ],
      "id": "310952a1-52fe-4847-9af4-ea044be36195",
      "name": "Get Quotation By ID",
      "webhookId": "quotation-by-id"
    },
    {
      "parameters": {
        "url": "=https://wtqtnpjliyhcwxjkincj.supabase.co/rest/v1/quotations?quotation_id=eq.{{ $json.query.id }}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "sb_publishable_JejvEEqBVuaYhS_6otvYuA_djCMsv-1"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_publishable_JejvEEqBVuaYhS_6otvYuA_djCMsv-1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        208
      ],
      "id": "a641e2c5-c834-43bc-9a5f-4777fe4ead4f",
      "name": "Fetch Quotation By ID"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1248,
        208
      ],
      "id": "a63a9e71-6cad-4b2c-825a-cbef38f8aa58",
      "name": "Respond Quotation By ID"
    },
    {
      "parameters": {
        "content": "Dahi Cheeni quotation workflow\nForm: form.html\nPricing: Qty × Rate\nRe-import this JSON after edits, then activate workflow.",
        "height": 80,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        -1168
      ],
      "id": "fca9885b-6d46-496d-9332-87e1d8b7daf2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "vishwashchauhan77@gmail.com",
        "subject": "hello",
        "message": "={{ $('Webhook Form').first().json.body.HostName }} - {{ $('Webhook Form').first().json.body.EventDate }}.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1392,
        -368
      ],
      "id": "7ed47001-24f9-4d81-926b-d96160cd1156",
      "name": "Send a message",
      "webhookId": "ebc0a6a5-7f8b-40a5-9b9c-795f64871fb5",
      "credentials": {
        "gmailOAuth2": {
          "id": "9YhI3zWkjKQLFSPV",
          "name": "Gmail Vishu"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Data Transformation ",
        "height": 1200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        -1136
      ],
      "id": "4096fb06-4a82-400c-b8c6-b033c537b9c7",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Webhook Form": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Menu Item Transformation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in Python (Beta)13",
            "type": "main",
            "index": 0
          },
          {
            "node": "Customer Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Supabase Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Code in Python (Beta)13": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Customer Details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "JSON TO HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Item Transformation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "JSON TO HTML": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTML TO PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML TO PDF": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase Data": {
      "main": [
        [
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Supabase": {
      "main": [
        []
      ]
    },
    "Get Quotations List": {
      "main": [
        [
          {
            "node": "Fetch Quotations List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Quotations List": {
      "main": [
        [
          {
            "node": "Respond Quotations List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quotation By ID": {
      "main": [
        [
          {
            "node": "Fetch Quotation By ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Quotation By ID": {
      "main": [
        [
          {
            "node": "Respond Quotation By ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e67cb8fe3dc79a4146e98ea40b94c77a507a3a599feb644f6e81b47655f5c75"
  }
}